@model IEnumerable<BookApp.DataTransferObjects.Responses.BookListResponse>
@{
    ViewData["Title"] = "Index";
}

<h1> '@ViewBag.categoryName' Kitapları </h1>

<div class="container">
    <div class="row m-6">
        @foreach (var item in Model)
        {
            <div class="col-4">
                <div class="card" style="width: 18rem;">
                    <img src="@item.ImageUrl" style="height:250px;width:250px;" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">@item.Name</h5>
                        <p class="card-text">@item.WriterName</p>
                        <p class="card-text">Yayınevi :@item.PublisherName</p>
                        <p class="card-text">Türk : @item.CategoryName</p>
                        <p class="card-text" style="font-size:30px;">@item.Price ₺</p>

                        <a href="#" class="btn btn-primary">Sepete Ekle</a>
                        <a href="/Book/BookDetail/@item.BookID" class="btn btn-outline-success">Detaylar</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>