@model IEnumerable<BookApp.DataTransferObjects.Responses.BookListResponse>
@{
    ViewData["Title"] = "Index";
}

<h1>Kitaplar</h1>
<br />
<a class="btn btn-outline-success" href="/Book/CreateBook">Kitap Ekle</a>
<br />
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImageUrl)
            </th> 
            <th>
                @Html.DisplayNameFor(model => model.WriterName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CategoryName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PublisherName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    <img style="height:70px; width:70px;" src="@item.ImageUrl" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.WriterName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CategoryName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PublisherName)
                </td>
                <td>
                    <a class="btn btn-outline-primary" href="/Book/EditBook/@item.BookID">Düzenle</a>
                    <a class="btn btn-outline-danger" href="/Book/DeleteBook/@item.BookID">Sil</a>                    
                </td>
            </tr>
        }
    </tbody>
</table>

