@model IEnumerable<BookApp.DataTransferObjects.Responses.BookDisplayResponse>
@{
    ViewData["Title"] = "Index";
}

<h1>Kitaplar</h1>

<div class="container">
    <div class="row m-6">
        @foreach (var item in Model)
        {
            <div class="col-4">
                <div class="card" style="width: 18rem;">
                    <img src="@item.ImageUrl" style="height:250px;width:250px;" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">@item.Name</h5>
                        <p class="card-text">@item.WriterName</p>
                        <p class="card-text">Yayınevi :@item.PublisherName</p>
                        <p class="card-text">Türk : @item.CategoryName</p>
                        <p class="card-text" style="font-size:30px;">@item.Price ₺</p>

                        <button class="btn btn-primary basket" id="@item.BookId">Sepete Ekle</button>
                        <a href="/Book/BookDetail/@item.BookId" class="btn btn-outline-success">Detaylar</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>



@section Scripts{
    <script>
        $(document).ready(function () {

            $('.basket').on('click', function () {
                let id = $(this).attr('id');
                $.ajax({
                    url: '/Shopping/AddBook/' + id,
                    type: 'GET',
                    success: function (data) {
                    }
                });
            });
        });
    </script>
}
